In [2]:
import pandas as pd
import numpy as np

from IPython.display import display

In [3]:
train = pd.read_csv('data/training.csv')

print(train.columns)
print("Dataset shape: ", train.shape)

Index(['left_eye_center_x', 'left_eye_center_y', 'right_eye_center_x',
       'right_eye_center_y', 'left_eye_inner_corner_x',
       'left_eye_inner_corner_y', 'left_eye_outer_corner_x',
       'left_eye_outer_corner_y', 'right_eye_inner_corner_x',
       'right_eye_inner_corner_y', 'right_eye_outer_corner_x',
       'right_eye_outer_corner_y', 'left_eyebrow_inner_end_x',
       'left_eyebrow_inner_end_y', 'left_eyebrow_outer_end_x',
       'left_eyebrow_outer_end_y', 'right_eyebrow_inner_end_x',
       'right_eyebrow_inner_end_y', 'right_eyebrow_outer_end_x',
       'right_eyebrow_outer_end_y', 'nose_tip_x', 'nose_tip_y',
       'mouth_left_corner_x', 'mouth_left_corner_y', 'mouth_right_corner_x',
       'mouth_right_corner_y', 'mouth_center_top_lip_x',
       'mouth_center_top_lip_y', 'mouth_center_bottom_lip_x',
       'mouth_center_bottom_lip_y', 'Image'],
      dtype='object')
Dataset shape:  (7049, 31)

In [4]:
## Dataset after dropping na

train_without_na = train.dropna()

print("Shape after dropping na: ", train_without_na.shape)

Shape after dropping na:  (2140, 31)

In [5]:
test = pd.read_csv('data/test.csv')
print(test.columns)
display(test.head())
print("Total test images: ", test.shape[0])
print("Images x dimensions : ", test.shape[0]*30)

Index(['ImageId', 'Image'], dtype='object')

   ImageId                                              Image
0        1  182 183 182 182 180 180 176 169 156 137 124 10...
1        2  76 87 81 72 65 59 64 76 69 42 31 38 49 58 58 4...
2        3  177 176 174 170 169 169 168 166 166 166 161 14...
3        4  176 174 174 175 174 174 176 176 175 171 165 15...
4        5  50 47 44 101 144 149 120 58 48 42 35 35 37 39 ...

Total test images:  1783
Images x dimensions :  53490

In [6]:
def to_img_arr(img_vals):
    img_arr = np.fromstring(img_vals, sep=' ')
    img_arr = img_arr.reshape((96,96))
    return img_arr

train_without_na['Image'] = train_without_na['Image'].apply(to_img_arr)
print("Image dimension: ", train_without_na['Image'][0].shape)

Image dimension:  (96, 96)

/home/saurabh/anaconda3/lib/python3.4/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [7]:
print("Image dimension before reshape: ", np.fromstring(train['Image'][0], sep=' ').shape)

Image dimension before reshape:  (9216,)

In [8]:
print(max(train['left_eye_center_x']))
print(max(train['mouth_center_bottom_lip_x']))

94.68928
89.438592

In [9]:
img_vals = []
for img_val in train_without_na['Image']:
    img_vals.append(img_val)
    
#X = np.array(train_without_na['Image'].as_matrix())
X = np.array(img_vals)
print("X shape before expanding dims: ", X.shape)

X = np.expand_dims(X, axis=3)
print("X shape after expanding dims: ", X.shape)

X shape before expanding dims:  (2140, 96, 96)
X shape after expanding dims:  (2140, 96, 96, 1)

from keras.models import load_model

model = load_model('model.h5')
y = model.predict(np.expand_dims(X[0], axis=0), batch_size=1)
y_ = (y+0.5)*95
print(y)
print(y_)

y_all = model.predict(X)
print("Final shape: ", y_all.shape)
y_ = (y+0.5)*95

print(y_[:5])

In [10]:
idlookup = pd.read_csv('data/IdLookupTable.csv')
display(idlookup.head())

   RowId  ImageId              FeatureName  Location
0      1        1        left_eye_center_x       NaN
1      2        1        left_eye_center_y       NaN
2      3        1       right_eye_center_x       NaN
3      4        1       right_eye_center_y       NaN
4      5        1  left_eye_inner_corner_x       NaN

In [16]:
print(idlookup['ImageId'].max())
print(idlookup.shape)
print(len(idlookup['ImageId'].unique()))

1783
(27124, 4)
1783

In [20]:
idlookup_grpby = idlookup.groupby('ImageId').count().reset_index()
display(idlookup_grpby.head())
print(idlookup_grpby['FeatureName'].min())
display(idlookup_grpby[idlookup_grpby['FeatureName'] < 30])

   ImageId  RowId  FeatureName  Location
0        1     30           30         0
1        2     30           30         0
2        3     30           30         0
3        4     30           30         0
4        5     30           30         0

6

      ImageId  RowId  FeatureName  Location
61         62     28           28         0
404       405     28           28         0
411       412     24           24         0
413       414     24           24         0
414       415     28           28         0
415       416     26           26         0
420       421     28           28         0
423       424     28           28         0
426       427     28           28         0
429       430     26           26         0
433       434     28           28         0
435       436     26           26         0
443       444     28           28         0
457       458     28           28         0
458       459     22           22         0
469       470     28           28         0
470       471     28           28         0
476       477     22           22         0
480       481     26           26         0
482       483     26           26         0
496       497     28           28         0
500       501     28           28         0
501       502     20           20         0
503       504     28           28         0
504       505     28           28         0
520       521     26           26         0
531       532     28           28         0
535       536     26           26         0
550       551     26           26         0
551       552     20           20         0
...       ...    ...          ...       ...
1753     1754      8            8         0
1754     1755      8            8         0
1755     1756      8            8         0
1756     1757      8            8         0
1757     1758      8            8         0
1758     1759      8            8         0
1759     1760      8            8         0
1760     1761      8            8         0
1761     1762      8            8         0
1762     1763      8            8         0
1763     1764      8            8         0
1764     1765      8            8         0
1765     1766      8            8         0
1766     1767      8            8         0
1767     1768      8            8         0
1768     1769      8            8         0
1769     1770      8            8         0
1770     1771      8            8         0
1771     1772      8            8         0
1772     1773      8            8         0
1773     1774      8            8         0
1774     1775      8            8         0
1775     1776      8            8         0
1776     1777      8            8         0
1777     1778      8            8         0
1778     1779      8            8         0
1779     1780      8            8         0
1780     1781      8            8         0
1781     1782      8            8         0
1782     1783      8            8         0

[1227 rows x 4 columns]

In [21]:
test_output = pd.read_csv('data/test_output.csv')
display(test_output.head())

   RowId  ImageId              FeatureName   Location
0      1        1        left_eye_center_x  65.255875
1      2        1        left_eye_center_y  37.283890
2      3        1       right_eye_center_x  29.840532
3      4        1       right_eye_center_y  37.468510
4      5        1  left_eye_inner_corner_x  59.302391

In [25]:
idlookup_ = idlookup[['RowId', 'ImageId', 'FeatureName']]
df_final = test_output.merge(idlookup_, on=['ImageId', 'FeatureName'])
display(df_final)
print("Max rowId x: ", max(df_final['RowId_x']), max(df_final['RowId_y']))

       RowId_x  ImageId                FeatureName   Location  RowId_y
0            1        1          left_eye_center_x  65.255875        1
1            2        1          left_eye_center_y  37.283890        2
2            3        1         right_eye_center_x  29.840532        3
3            4        1         right_eye_center_y  37.468510        4
4            5        1    left_eye_inner_corner_x  59.302391        5
5            6        1    left_eye_inner_corner_y  38.195705        6
6            7        1    left_eye_outer_corner_x  71.668343        7
7            8        1    left_eye_outer_corner_y  38.276001        8
8            9        1   right_eye_inner_corner_x  36.565590        9
9           10        1   right_eye_inner_corner_y  37.655193       10
10          11        1   right_eye_outer_corner_x  24.345337       11
11          12        1   right_eye_outer_corner_y  37.921951       12
12          13        1   left_eyebrow_inner_end_x  56.551582       13
13          14        1   left_eyebrow_inner_end_y  29.734669       14
14          15        1   left_eyebrow_outer_end_x  77.698318       15
15          16        1   left_eyebrow_outer_end_y  30.049604       16
16          17        1  right_eyebrow_inner_end_x  39.037582       17
17          18        1  right_eyebrow_inner_end_y  29.393320       18
18          19        1  right_eyebrow_outer_end_x  18.146927       19
19          20        1  right_eyebrow_outer_end_y  30.938639       20
20          21        1                 nose_tip_x  48.044502       21
21          22        1                 nose_tip_y  56.004467       22
22          23        1        mouth_left_corner_x  62.094624       23
23          24        1        mouth_left_corner_y  74.165237       24
24          25        1       mouth_right_corner_x  33.712978       25
25          26        1       mouth_right_corner_y  73.490868       26
26          27        1     mouth_center_top_lip_x  47.994049       27
27          28        1     mouth_center_top_lip_y  69.704025       28
28          29        1  mouth_center_bottom_lip_x  47.764305       29
29          30        1  mouth_center_bottom_lip_y  80.658951       30
...        ...      ...                        ...        ...      ...
27094    53373     1780         right_eye_center_x  30.532619    27095
27095    53374     1780         right_eye_center_y  37.854820    27096
27096    53391     1780                 nose_tip_x  48.295727    27097
27097    53392     1780                 nose_tip_y  56.297165    27098
27098    53399     1780  mouth_center_bottom_lip_x  48.201725    27099
27099    53400     1780  mouth_center_bottom_lip_y  79.215004    27100
27100    53401     1781          left_eye_center_x  66.015709    27101
27101    53402     1781          left_eye_center_y  37.594013    27102
27102    53403     1781         right_eye_center_x  29.619318    27103
27103    53404     1781         right_eye_center_y  37.589466    27104
27104    53421     1781                 nose_tip_x  47.950584    27105
27105    53422     1781                 nose_tip_y  57.298283    27106
27106    53429     1781  mouth_center_bottom_lip_x  47.425865    27107
27107    53430     1781  mouth_center_bottom_lip_y  81.989853    27108
27108    53431     1782          left_eye_center_x  65.013161    27109
27109    53432     1782          left_eye_center_y  37.196125    27110
27110    53433     1782         right_eye_center_x  30.448071    27111
27111    53434     1782         right_eye_center_y  37.494038    27112
27112    53451     1782                 nose_tip_x  48.195797    27113
27113    53452     1782                 nose_tip_y  56.568218    27114
27114    53459     1782  mouth_center_bottom_lip_x  47.453281    27115
27115    53460     1782  mouth_center_bottom_lip_y  78.977585    27116
27116    53461     1783          left_eye_center_x  65.930695    27117
27117    53462     1783          left_eye_center_y  37.528770    27118
27118    53463     1783         right_eye_center_x  29.664015    27119
27119    53464     1783         right_eye_center_y  37.902302    27120
27120    53481     1783                 nose_tip_x  47.727257    27121
27121    53482     1783                 nose_tip_y  57.934055    27122
27122    53489     1783  mouth_center_bottom_lip_x  47.329380    27123
27123    53490     1783  mouth_center_bottom_lip_y  82.176666    27124

[27124 rows x 5 columns]

Max rowId x:  53490 27124